/* GENERAL */
html, body {
	color: #343434;
	background: url(/images/death_star.jpg); 
}

/*body {
	height: 100%;
}*/


/* PAGE STRUCTURE */


/*HEADER*//*HEADER*//*HEADER*//*HEADER*//*HEADER*/
.header, .footer {
	margin: 0px auto;
	padding: 30px;
	clear: both;
}
.header {
	width: 80%;
	height: 80px;
	border: 2px solid #000000;
	background: #797a7c;
}
.header_pic {
	float: right;
	margin-right: 70px;
	margin-top: -100px;
}
.header_left {
	width: 527px;
}
.header h1 {
	margin-right: 10px;
	color: #000000;
}
.header a {
	text-decoration: none;
}
.site_menu a {
 	text-decoration: none;
 	color: #ffffff;
}
/*HEADER*//*HEADER*//*HEADER*//*HEADER*//*HEADER*/


/*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*/
.footer {
	background: #797a7c;
	width: 80%;
	height: 30px;
	border: 2px solid #000000;
	clear: both;
}
.footer p { 
	margin-top: 0px;
	margin-bottom: 0px;
	color: #000000;
	font-size: 22px;
}
.footer_left_block {
	float: left;
}
.footer_phone span {
	color: #000000;
	margin-top: -20px;
	float: left;
	font-size: 24px;
}
.footer_shop { 

    float: right;
    margin-right: 50px;
    padding-bottom: 50px; 
}
/*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*/


/*.slogan-wrapper {
	float: right;
}
.slogan-wrapper h1 {
	color: #6436c1;
}*/


/*MENU*//*MENU*//*MENU*//*MENU*//*MENU*//*MENU*/
.menu {
	font-size: large;
	background: #797a7c;
	margin-left: 160px;
	margin-top: 20px;
	margin-bottom: 20px; 
	float: left;
	width: 12%;
	padding: 0px 0px 0px 0px;
	border: 1px solid #7c7d7f;
}
.menu ul {
	margin-top: 10px;
	margin-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
}
.menu a {
	
	text-decoration: none;
	color: #ffffff;
}
.menu li {
	list-style-type: none;
	color: #ffffff;
	padding: 8px 8px 8px 0px;
	border-top: 1px solid #9c9c9e;
}
.menu_heading {
	text-align: center;
	padding: 8px 10px 7px 10px;
	border: 1px solid #7c7d7f;
	background: #9c9c9e;
}
/*MENU*//*MENU*//*MENU*//*MENU*//*MENU*//*MENU*/


/*CONTENT*//*CONTENT*//*CONTENT*//*CONTENT*/
/*.content_border {
	padding: 10px;
	margin-top: 16px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
}*/
.content {
	margin-top: 20px;
	margin-bottom: 20px; 
	margin-left: 20px;
	border: 1px solid #7c7d7f;
	float: left;
	width: 67%;
}
.content_heading {
	text-align: center;
	padding: 8px 10px 7px 10px;
	background: #9c9c9e;
}
.content p {
	padding: 20px;
}
.category_box {
	padding: 5px 5px 5px 125px;
}
.category_heading {
	padding: 8px 10px 7px 10px;
	background: #9c9c9e;
}
.category_heading h2 {
	color: #ffffff;
}
.category_heading a {
	color: #000000;
	text-decoration: none;
}
/*CONTENT*//*CONTENT*//*CONTENT*//*CONTENT*/


/*MAIN PAGE PRODUCT *//*MAIN PAGE PRODUCT *//*MAIN PAGE PRODUCT */
.box_content {
	padding: 5px 5px 5px 125px;
}
.product {
	border: 1px solid #babdc1;
	width: 240px;
    height: 420px;
	display: inline-block;
	vertical-align: top;
	margin-top: 16px;
	margin-right: 5px;
	margin-bottom: 10px;
	margin-left: 5px;
	text-align: left;
}
.product b {
	color: #ffffff;
}
.product_brief_description p {
	color: #ffffff;
	margin-bottom: 0px;
	padding: 0px 0px 0px 0px;
	margin-top: 2px;

}
.product_name a {
	text-decoration: none;
	color: #ffffff;
}
.product_name h4 {
	margin-top: 0px;
	margin-bottom: 0px;
	
}
.product_name {
	text-decoration: none;
	padding-bottom: 10px;
}
.product_brief_description {
	padding-bottom: 5px;
}
.price {
	padding-bottom: 5px;
}
.button>a {
	color: #ffffff;
	text-decoration: none;
}
.button {
	font-weight: bold;
	border-radius: 7px 7px 7px 7px;
	background: #09367c;
}
/*MAIN PAGE PRODUCT *//*MAIN PAGE PRODUCT *//*MAIN PAGE PRODUCT */


/*PRODUCT*//*PRODUCT*//*PRODUCT*//*PRODUCT*/
.product_details {
	position: relative;
	margin-top: 20px;
	margin-bottom: 20px; 
	margin-left: 20px;
	/*border: 1px solid #7c7d7f;*/
	float: left;
	width: 67%;
}
.product_heading {
	padding: 8px 10px 7px 10px;
	background: #9c9c9e;
	color: #ffffff;
	margin-bottom: 20px; 
}
.product_heading a {
	text-decoration: none;
	color: #000000;
}

.product_img {
	margin-left: 20px;
	width: 35%;
	margin-bottom: 20px;
	padding-bottom: 20px;
}
.product_price {
	margin-bottom: 20px;
	margin-left: 20px;
	margin-top: 20px;
}
.product_description {
	width: 35%;
	position: absolute;
	top: 80px;
	left: 380px;
	/*margin-left: 340px;
	margin-top: -310px;*/
	
}
.product_description p {
	color: #ffffff;
}
.product_description h4 {
	color: #ffffff;
}	
/*PRODUCT*//*PRODUCT*//*PRODUCT*//*PRODUCT*/


/* CONTACTS *//* CONTACTS *//* CONTACTS */
.contacts {
	color: #ffffff;
	text-align:center;
	width: 1024px;
	margin: 0px auto;
}
/* CONTACTS *//* CONTACTS *//* CONTACTS */


/*ABOUT*//*ABOUT*//*ABOUT*/
.about {
	color: #ffffff;
	margin: auto;
	width: 30%;
}
/*ABOUT*//*ABOUT*//*ABOUT*/


/*PRODUC ORDER*//*PRODUC ORDER*//*PRODUC ORDER*/
.product_order {
	position: relative;
	/*border: 1px solid #7c7d7f;*/
	width: 70%;
	margin-top: 20px;
	margin-left: 284.453px;
	margin-right: 284.453px;
}
.product_order_box {
	position: inherit;
}
.product_order_heading {
	text-align: center;
	padding: 8px 10px 7px 10px;
	background: #9c9c9e;
	color: #ffffff;
	margin-bottom: 20px; 
}
.product_table {
	width: 70%;
	border: 1px solid #7c7d7f;
	position: inherit;
	left: 14%;
}
.product_table >table>thead {
	background: #9c9c9e;
}
.table td {
	color: #ffffff;
}
.table tr>td>a {
	color: #ffffff;
}
.table {
	width: 100%;
}
.product_table {
	margin-bottom: 30px;
}
.forms {
	position: relative;
}
.forms p {
	color: #ffffff;
}
.form_right {
	position: inherit;
	left: 640px;
	bottom: 566px;
}
.form_left {
	position: inherit;
	left: 140px;
}
.forms h3 {
	color: #ffffff;
}

/*PRODUC ORDER*//*PRODUC ORDER*//*PRODUC ORDER*/
